<footer class="container inline-p">
    <legend></legend>
    <h4>
        <p>&copy; 2024 Amogus</p>
        <p class="pull-right">
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Contribute to this project</a>
        </p>
    </h4>
</footer>