<nav class="navbar navbar-default navbar-fixed-top" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                &lt; Take Notes &gt;
            </a>
        </div>
        <!-- ./navbar-header -->
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav" id="navbar-links">
                <th:block sec:authorize="isAuthenticated()">
                    <li>
                        <a th:href="@{/notes/add}">NEW NOTE</a>
                    </li>
                    <li>
                        <a th:href="@{/notes/}">VIEW ALL NOTES</a>
                    </li>
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            Current user: <b><th:block sec:authentication="name"></th:block></b>
                        </a>
                    </li>
                </th:block>
                <th:block sec:authorize="isAnonymous()">
                    <li>
                        <a href="/"> HOME </a>
                    </li>
                </th:block>
            </ul>
            <div class="nav navbar-nav navbar-right">
                <th:block sec:authorize="isAuthenticated()">
                    <li>
                        <a th:href="@{/logout/}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Logout
                        </a>
                    </li>
                </th:block>
                <th:block sec:authorize="isAnonymous()">
                    <li><a th:href="@{/register}"><span class="glyphicon glyphicon-user"></span> Sign Up </a></li>
                    <li><a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Login </a></li>
                </th:block>
            </div>
        </div>
    </div>
</nav>