<script th:href="@{/js/jquery.min.js}"></script>
<script th:href="@{/js/bootstrap.min.js}"></script>
<script th:href="@{/js/base.js}"></script>
<script th:href="@{/js/typed.min.js}"></script>
<script th:href="@{/js/npm.js}"></script>
<script src="https://unpkg.com/typeit@8.7.1/dist/index.umd.js"></script>
<script>
    new TypeIt("#typed_text", {
        strings: "A Simple Note Taking App :)",
        speed: 45,
        waitUntilVisible: true,
    }).go();
</script>