/* ==================================== base.html styles ======================================== */
.add-margin-top {
    margin-top:5%;
}

@media only screen and (max-device-width: 480px) {
    /* define mobile specific styles come here */
    .add-margin-top {
        margin-top:20%;
    }

    .add-margin-bottom {
        margin-top:5%;
    }
}

.add-margin-bottom {
    margin-bottom:5%;
}

body{
    background-color: rgb(242, 243, 244);
}

/* ===================================== Homepage styles ======================================== */
.navbar-default {
    font-size: 17px;
    margin: 0;
    padding: 7px;
    /*opacity: 0.5;*/
}

nav .navbar-brand {
    font-size: 20px;
}

/*change default hover on links*/
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-brand:hover {
    color: #2E3134;
}

/*change default active links*/
.navbar-default .navbar-nav> .active > a,
.navbar-default .navbar-nav> .active > a:focus,
.navbar-default .navbar-nav> .active > a:hover {

}

/*change default behaviour of jumbotron*/
.jumbotron {
    margin-bottom: 0px;
    height: 350px;
    background-size: cover;
}

.jumbotron .element {
    color: white;
}

.section-heading {
    color: #2E3134;
}

.hr-line {
    max-width:50px;
    border-top: 2px solid #2E3134;
}


/* ===================================== Profile styles ======================================== */
.list-group-item{
    border-radius: 0px !important;
}

.thumbnail {
    border-radius: 0px;
    box-shadow: 2px 2px 2px #D6DBDF;
    border-style: none;
    border: 0;
    color: #2E3134;
}

.thumbnail:hover {
    box-shadow: 2px 2px 2px #A6ACAF;
    border-style: none;
    border: 0;
    text-decoration: none;
}

.no_borders{
    border-radius: 0px;
}

.flask-pagedown-preview {
    margin-top: 2%;
    padding: 2%;
    background-color: white;
    box-shadow: 2px 2px 2px #D6DBDF;
}

.flask-pagedown-preview::before {
    content: "Preview:";
    font-weight: bold;
    font-size: 18;
}

.inline-headers h3, .inline-headers h5 {
  display: inline-block;
  vertical-align: baseline;
}

.inline-p p {
  display: inline-block;
  vertical-align: baseline;
}
