<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
    >

<div layout:fragment="content" class="container">
    <div class="jumbotron text-center" style="padding-top: 5%; background-color: #2e3135">
        <h1><span class="element text-uppercase text-info" id="typed_text" ></span></h1>
        <h4 style="color: white"><i> Because you have the right to save all you need...</i></h4>
        <br>
        <br>
        <h3 style="color: white">Currently, <th:block th:text="${amount_of_users}"></th:block> users registered</h3>
    </div>

    <div class="container" id="about">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center slideanim">
                <h2 class="section-heading">ABOUT</h2>
                <hr style="max-width:50px;border-top: 2px solid #2E3134;"><br>
            </div><!-- ./column -->
        </div><!-- ./row -->
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-12 co-xs-12 text-center">
                <h3><label><b>Easy to use</b></label></h3>
                <h4>
                    <p class="text-justify" style="padding-top: 10px;">
                        Its so easy to use that even kids will be able to use it!
                    </p>
                </h4>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-12 co-xs-12 text-center">
                <h3><label><b>Stay Organized</b></label></h3>
                <h4>
                    <p class="text-justify" style="padding-top: 10px;">
                        With easy searching and everything organized, you are more productive
                    </p>
                </h4>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-12 co-xs-12 text-center">
                <h3><label><b>Time of editing and creating</b></label></h3>
                <h4>
                    <p class="text-justify" style="padding-top: 10px;">
                        Exact time to millisecond accuracy
                    </p>
                </h4>
            </div>
        </div> <!-- ./row -->
    </div> <!-- ./cotainer -->
</div>
</html>