<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<div layout:fragment="content" class="container" style="padding-top: 2%">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-md-offset-3 col-lg-offset-3">
        <br>
        <br>
        <div th:if="${param.fail}" class="alert alert-danger">
            Username or email already exists
        </div>
        <div th:if="${param.error}" class="alert alert-danger">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}" class="alert alert-danger">
            You have been logged out.
        </div>

        <form method="POST" role="form" th:action="@{/login}" th:object="${user}">
            <label>Username</label>
            <br>
            <input id="username"  name="username"
                   type="text" class="form-control no_borders" placeholder="Username" th:field="*{username}"/>
            <br>

            <label>Password</label>
            <br>
            <input id="password" name="password"
                    type="password" class="form-control no_borders" placeholder="Password" th:field="*{password}">
            <br>
            <input class="form-control btn btn-primary no_borders" id="submit" name="submit" type="submit" value="Log in">
        </form>
        <h5>Don't have an account? <a th:href="@{/register}">Sign Up</a></h5>
    </div>
</div>
</html>