<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout}"
    >
<div layout:fragment="content" class="container" style="padding-top: 2%">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div th:if="${param.success}" class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            </button>
            You are registered, hurray!
        </div>
        <form  th:action="@{/notes/search}">
        <input type="search" id="notes" class="form-control no_borders glyphicon" autocomplete="off" name="q" placeholder="&#xe003 Search Note">
        </form>
            <a class="bottom text-left text-primary " th:href="@{/notes}">Reset search</a>
        <div style="padding-top: 20px">
            <div id="result"></div>
        </div>
        <th:block th:if="${notes != null and !notes.isEmpty()}">
            <br>
            <table class="table table-hover table-striped table-bordered" style="background-color: white;">
                <thead class="text-center">
                <tr>
                    <th class="text-center">#</th>
                    <th>Title</th>
                    <th>Content</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                    <th class="text-center">Delete</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="note : ${notes}">
                        <td th:text="${note.id}"></td>
                        <td>
                            <a th:href="@{/notes/{id}(id=${note.id})}" th:text="${note.title}"></a>
                        </td>
                        <td th:text="${note.content}"></td>
                        <td th:text="${note.createdAt}"></td>
                        <td th:text="${note.updatedAt}"></td>
                        <td class="text-center">
                            <a th:href="@{/notes/{id}/delete(id=${note.id})}"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </th:block>
        <th:block th:unless="${notes != null and !notes.isEmpty()}">
            <div class="alert alert-danger">-->
                You have no notes added! Let's add one <a th:href="@{/notes/add}" th:text="here"></a>
            </div>
        </th:block>
    </div>
</div>
</html>