<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
    >
<div layout:fragment="content" class="container" style="padding-top: 2%">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="thumbnail" style="padding: 3%">
                <legend><h3 class="text-center"><b>Note Details:</b></h3></legend>
                <h4><b>Note Added on:</b> <br><br> <th:block th:text="${note.getCreatedAt()}"></th:block>
                </h4>
                <br>
                <h4><b>Note Updated on:</b> <br><br> <th:block th:text="${note.getUpdatedAt()}"></th:block></h4>
                <br>
                <h4><b>Note Title:</b> <br><br> <th:block th:text="${note.getTitle()}"></th:block></h4>
            </div>
        </div> <!-- ./column -->

        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="thumbnail"  style="padding: 3%">
                <a th:href="@{/notes/{id}/edit(id=${note.id})}" class="pull-left">
                    <button type="button" class="btn btn-info">
                        <span class="glyphicon glyphicon-edit"></span> Edit
                    </button>
                </a>

                <a th:href="@{/notes/{id}/delete(id=${note.id})}" class="pull-right">
                    <button type="button" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash"></span> Delete
                    </button>
                </a>
                <br>
                <br>
                <h2 th:text="${note.getContent()}"></h2>
            </div>
        </div>
</div>
</html>