<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<div layout:fragment="content" class="container" style="padding-top: 2%">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-md-offset-3 col-lg-offset-3">
        <br>
        <br>
        <div th:if="${param.fail_email}" class="alert alert-danger">
            Email already exists
        </div>
        <div th:if="${param.fail_username}" class="alert alert-danger">
            Username already exists
        </div>

        <form method="POST" role="form" th:action="@{/register}" th:object="${user}">
            <label>Username</label>
            <br>
            <input type="text" class="form-control no_borders" placeholder="Username" th:field="*{username}"/>
            <p th:if="${#fields.hasErrors('username')}"  th:text="${#fields.errors('username')[0]}"  class="alert alert-danger"></p>
            <br>

            <label>Email</label>
            <br>
            <input type="text" class="form-control no_borders" placeholder="Email" th:field="*{email}">
            <br>
            <p th:if="${#fields.hasErrors('email')}" th:text="${#fields.errors('email')[0]}" class="alert alert-danger"></p>
            <br>

            <label>Password</label>
            <br>
            <input type="password" class="form-control no_borders" placeholder="Password" th:field="*{password}" >
            <p th:if="${#fields.hasErrors('password')}"  th:text="${#fields.errors('password')[0]}" class="alert alert-danger"></p>
            <br>
            <input class="form-control btn btn-primary no_borders" id="submit" name="submit" type="submit" value="Signup">
        </form>
        <h5>Already have an account? <a th:href="@{/login}">Log In</a></h5>
    </div>
</div>
</html>